<!DOCTYPE html>
<html lang="fr">

  <head>
      <meta charset="utf-8">
      <title>{{title}}</title>
      <meta name="description" content="Née le 26 octobre 2016 à Gentilly (94). Umanah, a pour 
      vocation de soutenir et d’accompagner les plus démunis vers une vie stable et sereine dans 
      différents pays du monde." />
      <meta name="author" content="">
      <meta name="viewport" content="width=device-width, initial-scale=1">
    
      <link rel="stylesheet" href="https://unpkg.com/flickity@2/dist/flickity.min.css">
    
      <!-- Favicons -->
      <link rel="shortcut icon" sizes="16x16" href="/img/favicon.ico"/>
    
      <!-- Bootstrap -->
      <link rel="stylesheet" type="text/css"  href="/css/bootstrap.css">
    
      <!-- Fonts -->
      <link rel="stylesheet" type="text/css" href="fonts/font-awesome/css/font-awesome.css">
      <link rel="stylesheet" type="text/css" href="css/Simple-Line-Icons-Webfont/simple-line-icons.css" media="screen" />
      <link rel="stylesheet" href="css/et-line-font/et-line-font.css">
    
      <!-- MENU CSS -->
      <link rel="stylesheet" href="/css/menuzord.css">
    
      <!-- FONT AWESOME -->
      <link rel="stylesheet" href="/font-awesome/4.5.0/css/font-awesome.min.css">
    
      <!-- Prettyphoto-->
      <link rel="stylesheet" href="/css/prettyphoto.css">
    
      <!--Master slider-->
      <link href="/master-slider/style/masterslider.css" rel="stylesheet">
      <link href="/master-slider/skins/default/style.css" rel="stylesheet">
    
    
      <!-- OWL STYLE CSS -->
      <link rel="stylesheet" type="text/css"  href="/css/owl.css">
    
      <!-- Stylesheet -->
      <link rel="stylesheet" type="text/css"  href="/css/style.css">
    
      <!-- Responsive -->
      <link rel="stylesheet" type="text/css"  href="/css/responsive.css">
    
      <!-- Animate.min -->
      <link rel="stylesheet" type="text/css"  href="/css/animate.min.css">
    
      <!-- Revolution Style -->
      <link rel="stylesheet" type="text/css" href="/revolution/css/settings.css">
      <link rel="stylesheet" type="text/css" href="/revolution/css/layers.css">
  
    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="/css/bootstrap.css">
    <style>
    	body {
    	  padding-top: 50px;
    	}
      .main{
        padding-top: 50px;
      }
      .ajout{
        padding-left: 150px;
      }
    </style>

  </head>

  <body>

    <nav class="navbar navbar-inverse navbar-fixed-top " role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/"></a>
            </div>
            <div class="collapse navbar-collapse navbar-ex1-collapse">
                <ul class="nav navbar-nav">
                    <li class=""><a href="/create">Ajouter un projet</a></li>
                    <li class=""><a href="/create-gallery">Ajouter une photo dans la gallerie</a></li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="container main">

      {% block content %} 
      
      
      {% endblock %}
   
    </div><!-- /.container -->

<!-- Back to Top -->
<a href="#" id="back-to-top" title="Back to top"><img src="img/top-arrow.png" alt=""></a>

<!-- js file  -->
  <script type="text/javascript" src="js/jquery.min.js"></script>

  <!-- load cubeportfolio  -->
  <script type="text/javascript" src="js/jquery-latest.min.js"></script>
  <script type="text/javascript" src="js/jquery.cubeportfolio.min.js"></script>
  <script type="text/javascript" src="js/main-portfolio.js"></script>

  <!-- Bootstrap JS  -->
  <script type="text/javascript" src="js/bootstrap.js"></script>

  <!-- Menu JS  -->
  <script type="text/javascript" src="js/menuzord.js"></script>

  <!-- OWL JS  -->
  <script type="text/javascript" src="js/owl.js"></script>

  <!-- Counterup JS  -->
  <script type="text/javascript" src="js/jquery.counterup.js"></script>

  <!-- Easypiechart JS  -->
  <script type="text/javascript" src="js/easypiechart.js"></script>

  <!--jqBootstrapValidation js file-->
  <script type="text/javascript" src="js/jqBootstrapValidation.js"></script>

  <!-- main js -->
  <script type="text/javascript" src="js/main.js"></script>
  </body>
</html>